form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.form-floating {
    margin-bottom: 1%;
}

#description {
    height: 200px;
}

#itemImage {
    border: 0px;
    border-radius: 5px;
    display: block;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 5%;
    cursor: pointer;
}

button {
    background: black;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 50%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}